@using LogicaNegocio;
@model Cliente 

@{
    ViewData["Title"] = "Perfil";
}

<div style="max-width: 600px; margin: 50px auto; padding: 30px;">
    <h2 style="text-align: center; color: #333;"> Perfil</h2>

    <div style="margin-top: 30px;">

            @if (Model != null)
            {
                <p><strong> Correo:</strong> @Model.Correo</p>
                <p><strong> Documento:</strong> @Model.Documento</p>
                <p><strong> Nombre:</strong> @Model.Nombre</p>
                <p><strong> Nacionalidad:</strong> @Model.Nacionalidad</p>
                <p><strong> Puntos / Es elegible?:</strong> @Model.MostrarDatos()</p>
            }
    </div>

    <div style="margin-top: 40px; text-align: center;">
        <a href="@Url.Action("Index", "Home")"> Volver al inicio</a>
    </div>
</div>


